<section class="about__wrapper style__section">
    <div class="about__title">
        <h1>About</h1>
    </div>
    <div class="about__content">
        <div class="about__image">
           <div></div> 
        </div>
        <div class="about__text">
            <h1>Hello, I’m a Developer</h1>
            <h2>Front-End, Design, Video Editing</h2>
            <p>
                Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus arcu diam, rutrum sed ex a, laoreet vulputate odio. Suspendisse vulputate feugiat ante ac egestas. Phasellus ut enim ut dolor congue hendrerit. Ut euismod.
                <br><br>
                Pellentesque eros sit amet semper. Nam ullamcorper felis et elit rutrum vulputate. Nulla vitae ultricies orci. Nullam nec ipsum quis ante ullamcorper suscipit nec vel erat. 
                <br><br>
                Ut efficitur magna libero uno <span id="about__span">Timeline</span>.
            </p>
            <div class="about__button-wrapper">
                <div class="style__button about__button">
                    <h1>Contact Me</h1>
                </div>
            </div>
        </div>  
    </div> 
</section>
