
<!--------------------------->
<!----------- HIRE ---------->
<!--------------------------->

<section class="hire__wrapper style__section">
    <div class="style__title">
        <h1>Hire me!</h1>
    </div>
    <div class="hire__content">
        <div class="hire__item">
            <div class="hire__item-img">
                <img src="img/icon_clock.svg">
            </div>
            <h2>Working Time</h2>
            <p>Lorem ipsum dolor sit amet, 
                consectetur adipiscing elit,
                labore et dolore magna aliqua.</p>
        </div>
        <div class="hire__item hire__location">
            <div class="hire__item-img">
                <img src="img/icon_location.svg">
            </div>
            <h2 class="hire__location-text">Location<img src="img/ui_arrow.svg" class="hire__item-arrow"></h2>
            <p>Lorem ipsum dolor sit amet, 
                consectetur adipiscing elit,
                labore et dolore magna aliqua.</p>
        </div>
        <div class="hire__item">
            <div class="hire__item-img">
                <img src="img/icon_calendar.svg">
            </div>
            <h2>Schedule</h2>
            <p>Lorem ipsum dolor sit amet, 
                consectetur adipiscing elit,
                labore et dolore magna aliqua.</p>
        </div>
        <div class="hire__item">
            <div class="hire__item-img">
                <img src="img/icon_design.svg">
            </div>
            <h2>Extra</h2>
            <p>Lorem ipsum dolor sit amet, 
                consectetur adipiscing elit,
                labore et dolore magna aliqua.</p>
        </div>
    </div>
    <div class="hire__additional hire__additional-close">
        <div class="hire__additional-map hire__additional-map-close">
            <h2>You can find me at</h2>
            <div id="googleMap">
                
            </div>
        </div>
    </div>
</section>

<!--------------------------->
<!-------- CONTACTS --------->
<!--------------------------->

<section class="contacts__wrapper style__section">
    <div class="style__title">
        <h1>Contacts</h1>
    </div>
    <div class="contacts__content">
        <div class="contacts__info">
            <div class="contacts__item">
                <div class="contacts__item-title">
                    <h2>E-MAIL</h2>
                </div>
                <div class="contacts__item-string">
                    <p>email@company.com</p>
                </div>
            </div>
            <div class="contacts__item">
                <div class="contacts__item-title">
                    <h2>Social</h2>
                </div>
                <div class="contacts__item-string">
                    <img src="img/icon_instagram.svg">
                    <p>@instagram</p>
                </div>
                <div class="contacts__item-string">
                    <img src="img/icon_twitter.svg">
                    <p>@twitter</p>
                </div>
            </div>
            <div class="contacts__item">
                <div class="contacts__item-title">
                    <h2>Message</h2>
                </div>
                <div class="contacts__item-string">
                    <img src="img/icon_whatsapp.svg">
                    <p>@viber/whatsapp</p>
                </div>
                <div class="contacts__item-string">
                    <img src="img/icon_telegram.svg">
                    <p>@telegram</p>
                </div>
            </div>
            <div class="contacts__item">
                <div class="contacts__item-title">
                    <h2>Work</h2>
                </div>
                <div class="contacts__item-string">
                    <img src="img/icon_github.svg">
                    <p>@github_user</p>
                </div>
            </div>
        </div>
        <div class="contacts__message">
            <h2>Send me a message!</h2>
            <input type="text" placeholder="Your E-mail">
            <input type="text" placeholder="Your phone number">
            <textarea placeholder="Your Message"  style="resize: none;"></textarea>
            <div class="contacts__message-button">
                <div class="style__button">
                    <h2>Send message</h2>
                </div>
            </div>
        </div>
    </div>
</section>