<!-- MOBILE HEADER -->
<nav class="header__nav-mobile h_m-close">
    <div class="header__nav-mobile__button-wrapper">
        <div class="header__nav-mobile__button">
            <div class="header__btn-mobile-element"></div>
        </div>
    </div>
    <div class="header__nav-mobile-content">
        <a class="header__nav-link header__nav-link-about">About</a>
        <a class="header__nav-link header__nav-link-service">Service</a>
        <a class="header__nav-link header__nav-link-experience">Experince</a>
        <a class="header__nav-link header__nav-link-gallery">Projects</a>
        <a class="header__nav-link header__nav-link-reviews">Reviews</a>
        <a class="header__nav-link header__nav-link-contacts">Contacts</a>
    </div>
</nav>

<nav class="header__nav">
    <div class="header__nav-content">
        <h1 class="header__nav-link header__nav-link-header">Title</h1>
        <div>
            <a class="header__nav-link header__nav-link-about">About</a>
            <a class="header__nav-link header__nav-link-service">Service</a>
            <a class="header__nav-link header__nav-link-experience">Experince</a>
            <a class="header__nav-link header__nav-link-gallery">Projects</a>
            <a class="header__nav-link header__nav-link-reviews">Reviews</a>
            <a class="header__nav-link header__nav-link-contacts">Contacts</a>
        </div>
    </div>
</nav>

<header class="header__wrapper">
    <section class="header__content">
        <div class="header__content-text">
            <h1 class="header__content-text-dynamic">
                I'm a <span id="header-message"></span>
            </h1>
            <h2>Front-End Developer</h2>
            <p>Lorem ipsum dolor <span>sit amet</span>, consectetur adipiscing elit, labore et dolore magna aliqua.</p>
            <div class="header__content-socials">
                <a><img src="img/icon_twitter.svg"></a>
                <a><img src="img/icon_telegram.svg"></a>
                <a><img src="img/icon_dribble.svg"></a>
                <a><img src="img/icon_instagram.svg"></a>
                <a><img src="img/icon_github.svg"></a>
            </div>
        </div>
        <div class="header__content-buttons">
            <div class="style__button header__content-button_contact">CONTACT</div>
            <div class="header__content-button_play"><img src="img/polygon_ui.svg"><img src="img/polygon_ui.svg" class="poly"></div>
        </div>
        <div class="header__scrolldown header__scrolldown-hide">
            <img src="img/ui_mouse.svg"><p>Sroll down</p>
        </div>
    </section>
</header>

