<section class="reviews__wrapper">
    <div class="style__title">
        <h1>Testimonials</h1>
    </div>
    <div class="reviews__slider">
        <div class="reviews__item">
            <h1>``</h1>
            <p class="reviews__item-quote">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequatr...
            </p>
            <div class="reviews__item-author">
                <div class="reviews__author-image"></div>
                <div class="reviews__author-text">
                    <h4>Michael Lorem</h4>
                    <p>A Person</p>
                </div>
            </div>
        </div>
        <div class="reviews__item">
            <h1>``</h1>
            <p class="reviews__item-quote">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequatr...
            </p>
            <div class="reviews__item-author">
                <div class="reviews__author-image"></div>
                <div class="reviews__author-text">
                    <h4>Albert Lorem</h4>
                    <p>A Person</p>
                </div>
            </div>
        </div>
        <div class="reviews__item">
            <h1>``</h1>
            <p class="reviews__item-quote">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequatr...
            </p>
            <div class="reviews__item-author">
                <div class="reviews__author-image"></div>
                <div class="reviews__author-text">
                    <h4>John Lorem</h4>
                    <p>A Person</p>
                </div>
            </div>
        </div>
    </div>
</section>
