<section class="service__wrapper style__section">
    <div class="style__title">
        <h1>Service</h1>
    </div>
    <div class="service__content">
        <div class="service__content-item service__content-item-close" id="s-item-1">
            <img src="img/icon_design.svg">
            <h2>UI/UX</h2>
            <p>Lorem ipsum dolor sit amet, 
                consectetur adipiscing elit,
                labore et dolore magna aliqua.</p>
            <div class="service__content-item-more">
                <a>More</a><img src="img/ui_arrow.svg">
            </div>     
            <div class="service__content-item-info">
                <div class="service__content-item-info-string">
                    <div></div><h4>Quick Response</h4>
                </div>
                <div class="service__content-item-info-string">
                    <div></div><h4>Quick Response</h4>
                </div>
                <div class="service__content-item-info-string">
                    <div></div><h4>Quick Response</h4>
                </div>
                <div class="service__content-item-info-string">
                    <div></div><h4>Quick Response</h4>
                </div>
                <div class="service__content-item-info-button">
                    <div class="style__button service__button">
                        <h4>Hire me</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="service__content-item service__content-item-close" id="s-item-2">
            <img src="img/icon_code.svg">
            <h2>Front-End Job</h2>
            <p>Lorem ipsum dolor sit amet, 
                consectetur adipiscing elit,
                labore et dolore magna aliqua.</p>
            <div class="service__content-item-more">
                <a>More</a><img src="img/ui_arrow.svg">
            </div>
            <div class="service__content-item-info">
                <div class="service__content-item-info-string">
                    <div></div><h4>Quick Response</h4>
                </div>
                <div class="service__content-item-info-string">
                    <div></div><h4>Quick Response</h4>
                </div>
                <div class="service__content-item-info-string">
                    <div></div><h4>Quick Response</h4>
                </div>
                <div class="service__content-item-info-string">
                    <div></div><h4>Quick Response</h4>
                </div>
                <div class="service__content-item-info-button">
                    <div class="style__button service__button">
                        <h4>Hire me</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="service__content-item service__content-item-close" id="s-item-3">
            <img src="img/icon_time.svg">
            <h2>Speed</h2>
            <p>Lorem ipsum dolor sit amet, 
                consectetur adipiscing elit,
                labore et dolore magna aliqua.</p>
            <div class="service__content-item-more">
                <a>More</a><img src="img/ui_arrow.svg">
            </div>
            <div class="service__content-item-info">
                <div class="service__content-item-info-string">
                    <div></div><h4>Quick Response</h4>
                </div>
                <div class="service__content-item-info-string">
                    <div></div><h4>Quick Response</h4>
                </div>
                <div class="service__content-item-info-string">
                    <div></div><h4>Quick Response</h4>
                </div>
                <div class="service__content-item-info-string">
                    <div></div><h4>Quick Response</h4>
                </div>
                <div class="service__content-item-info-button">
                    <div class="style__button service__button">
                        <h4>Hire me</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>