// Colors

$color-bold-main: #171717;
$color-regular-main: #2b2b2b;
$color-light-main: #878787;
$color-white-main: #FFF;

$background-grey: #EFEFEF;
$background-footer: #3A3A3A;
$image-placeholder: #D9D9D9;
