@import "abstracts/_variables.scss";

.experience__wrapper {
    width: 100%; height: 100vh;
    display: flex; flex-direction: column; align-items: center;
    .experience__time {
        width: 10%; height: 200px; 
        display: flex; flex-direction: column; align-items: flex-start; justify-content: center;
        align-self: flex-start;
        margin-left: 10%;
        .experience__time-arrow  {
            width: 50px; height: 50px;
            transform: rotate(90deg);
            background-image: url('../img/ui_arrow.svg');
            background-repeat: no-repeat; background-position: center;
            background-color: #ffffff00;
            font-size: 0;
            border: none;
            cursor: pointer;
        }
        .experience__time-next {
            transform: rotate(-90deg);
        }
        .experience__time-slider {
            .slick-list {
                overflow: hidden;
            }
            .slick-track {
                display: block;
            }
        }
    }
    .experience__content {
        width: 70%; height: 600px;
        .experience__content-item {
            display: flex; flex-direction: column;
            align-self: flex-end; justify-self: flex-start;
            div {
                width: 100%; height: 100%;
                display: flex; flex-direction: row;
                .experience__content-col {
                    width: 50%; height: 500px;
                    display: flex; flex-direction: column; justify-content: space-evenly; align-items: center;
                    .experience__content-col-item {
                        width: 75%;
                        display: flex; flex-direction: column; justify-content: center;
                        h2 {
                            margin-bottom: 0.5em;
                            span {
                                color: $color-light-main;
                                font-weight: 400; font-size: 22px;
                            }
                        }
                    }
                    .experience__timeline {
                        position: absolute;
                        width: 6px; height: 500px;
                        background: $color-light-main;
                        display: flex; align-self: flex-start; align-items: center; flex-direction: column; margin-left: 2em;
                        .timeline__circle {
                            width: 24px;
                            height: 24px;
                            border-radius: 50px;
                            background-color: $color-regular-main;
                            position: absolute;
                        }
                        .timeline__circle:nth-child(1) {
                            margin-top: 8em;
                        }
                        .timeline__circle:nth-child(2) {
                            margin-top: 20em;
                        }
                    }
                }
            }
        }
        .slick-list {
            overflow: hidden;
        }
        .slick-track {
            display: block;
        }
    }
}

@media (max-height: 800px) {
    .experience__wrapper {
        height: auto;
    }
}

@media (min-height: 1200px) {
    .experience__wrapper {
        height: auto;
    }
}

@media (max-width: 1400px) {
    .experience__wrapper {
        .experience__content {
            width: 90%;
        }
    }

}

@media (max-width: 992px) {
    .experience__wrapper {
        height: 1400px;
        .experience__content {
            width: 80%;
            height: 1200px;
            .experience__content-item {
                div {
                    display: grid; grid-template-columns: 1fr; grid-template-rows: 1fr;
                    .experience__content-col {
                        width: 100%; height: 500px;
                    }
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .experience__wrapper {
        .experience__content {
            width: 90%;
            .experience__content-item {
                div {
                    .experience__content-col {
                        width: 100%;
                        .experience__content-col-item {
                            width: 75%;
                            h2 {
                                font-size: 24px;
                            } 
                            p {
                                font-size: 12px;
                            }
                        }
                        .experience__timeline {
                            margin-left: 1em;
                        }
                    }
                }
            }
        }
    }
}
