@import "abstracts/_variables.scss";

.header__nav {
    width: 100% !important; height: 80px;
    position: fixed;
    z-index: 999999;
    display: flex; justify-content: center; align-items: center;
    backdrop-filter: blur(4px);
    transition: .5s ease-in-out;
    overflow: hidden;
    .header__nav-content {
        width: 80%; height: auto;
        display: flex; flex-direction: row; justify-content: space-between;
        h1 {
            font-size: 36px;
            user-select: none;
            cursor: pointer;
        }
        div {
            width: 85%; height: auto;
            display: flex; justify-content: space-between; align-items: center;
            a {
                font-size: 32px;
                cursor: pointer;
                position: relative;
            }
            a::after {    
                @include textLine
            }
            a:hover:after { 
                width: 100%; 
                left: 0; 
            }
        }
    }
}

@media (min-height: 1200px) {
    header {
        width: 100%; height: 1000px;
    }
}

@media (max-height: 700px) {
    header {
        width: 100%; height: 700px;
    }
}
@media (max-height: 480px) {
    header {
        width: 100%; height: 700px;
        .header__content {
            .header__content-text {
                height: 300px;
            }
        }
    }
}

header {
    width: 100%; height: 100vh;
    display: flex; align-items: center; flex-direction: column; justify-content: center;
    background-image: url(../img/header_background.png);
    background-position: center;
    background-size: cover; background-repeat: no-repeat;
    position: relative;
    .header__content {
        width: 80%; height: 500px;
        display: flex; flex-direction: column; justify-content: center;
        .header__content-text {
            width: 50%; height: 360px;
            h2 {
                margin: 0.5em 0 1em 0;
                font-weight: 400;
            }
            p {
                font-size: 28px;
                margin-bottom: 1.2em;
                span {
                    color: $color-regular-main;
                }
            }
            .header__content-socials {
                width: 60%; height: 50px;
                display: flex; flex-direction: row; justify-content: space-between; align-items: center;
                img {
                    width: 34px; height: 34px; 
                    transition: .3s ease-in-out; cursor: pointer;
                }
                img:hover {
                    filter: invert(27%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
                }
            }
        }
        .header__content-buttons {
            width: 90%; height: 120px;
            display: inline-flex; justify-content: flex-start;
            .header__content-button_contact {
                font-weight: 300;
                background-color: $color-bold-main;
                color: $color-white-main;
            }
            .header__content-button_contact:hover {
                background-color: rgb(255, 255, 255, 0);
                color: $color-bold-main;
            }
            .header__content-button_play {
                display: flex; justify-content: center; align-items: center;
                width: 60px; height: 60px;
                border: 3.5px solid $color-bold-main; 
                border-radius: 100px;
                margin-left: 1.6em;
                .poly {
                    position: absolute;
                    transition: opacity 3s ease;
                    transition: transform .2s ease-in;
                }
                @keyframes opacityAnim {
                    0% {
                        opacity: 1;
                    }
                    10% {
                        opacity: 0;
                    }
                    80% {
                        opacity: 0;
                    }
                    100% {
                        opacity: 1;
                    }
                }
                .poly-active {
                    animation: opacityAnim 3s ease-out;
                    transform: translateX(20px);
                }
            }
        }
        .header__scrolldown {
            display: flex; align-items: center;
            width: 100%; height: auto; 
            position: absolute; 
            margin-top: 40em;
            p {font-size: 28px; font-weight: 400; color: $color-light-main;} 
            img {transform: scale(0.8); margin-right: 2em;}
        }
        .header__scrolldown-display {
            display: flex; 
            animation: showScroll 1.5s ease;
        }
        @keyframes showScroll {
            0% {
                margin-top: 30em;
                opacity: 0;
            }
            30% {
                margin-top: 35em;
                opacity: 0;
            }
            100% {
                margin-top: 40em;
                opacity: 1;
            }
        }
        .header__scrolldown-hide {
            display: none;
        }
    }
}

@media (max-width: 1400px) {
    .header__nav {
        width: 100%; height: 70px;
        .header__nav-content {
            width: 90%;
            h1 {
                font-size: 28px;
            }
            div {
                a {
                    font-size: 28px;
                }
            }
        }
    }
    header {
        .header__content {
            width: 90%;
            .header__content-text {
                width: 70%; height: 330px;
            }
        }
        .header__content-buttons {
            height: 150px;
            margin-top: 1em;
            .header__content-button_play {
                width: 50px !important; height: 50px !important; 
                img {
                    transform: scale(0.8);
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .header__nav {
        width: 100%;
        .header__nav-content {
            h1 {
                font-size: 30px;
            }
            div {
                a {
                    font-size: 26px;
                }
            }
        }
    }
    header {
        .header__content {
            .header__content-text {
                height: 300px; width: 90%;
                h1 {font-size: 38px;}
                h2 {font-size: 32px;}
                p {font-size: 24px;}
                .header__content-socials {
                    img {height: 30px; width: 30px;}
                }
            }
            .header__scrolldown {
                margin-top: 30em;
                p {font-size: 24px;} 
                img {transform: scale(0.65);}
            }
            @keyframes showScroll {
                0% {
                    margin-top: 40em;
                    opacity: 0;
                }
                30% {
                    margin-top: 35em;
                    opacity: 0;
                }
                100% {
                    margin-top: 30em;
                    opacity: 1;
                }
            }
            .header__scrolldown-hide {
                display: none;
            }
        }
        .header__content-buttons {
            height: 200px;
            margin-top: 0em;
        }
    }
}

@media (max-width: 645px) {
    header {
        .header__content {
            .header__content-text {
                p {
                    margin-bottom: 1.5em;
                }
                .header__content-socials {
                    width: 80%;
                }
            }
        }
        .header__content-buttons {
            height: 100px !important;
            align-items: center;
            margin-top: 0em;
        }
    }
}

@media (max-width: 450px) {
    header {
        .header__content {
            .header__content-text {
                width: 100%; height: 300px;
                h1 {
                    font-size: 32px;
                }
                h2 {
                    font-size: 22px;
                }
            }
        }
    }
}

@media (min-width: 2500px) {
    .header__nav {
        width: 100% !important;
        .header__nav-content {
            width: 2250px;
            margin: 0 auto;   
        }
    }
    header {
        .header__content {
            max-width: 2250px;
            margin: 0 auto;
        }
    }
}



// Burger Menu

.header__nav-mobile {
    display: none;
}

@media (max-width: 745px) {
    .header__nav {
        display: none;
    }
    .header__nav-mobile {
        width: 100% !important;
        display: flex; flex-direction: column; 
        transition: height .3s ease-in-out;
        position: fixed;
        z-index: 999999;
        overflow: hidden;
        .header__nav-mobile__button-wrapper {
            width: 100%; height: 80px;
            display: flex; justify-content: flex-end;
            cursor: pointer;
            .header__nav-mobile__button {
                width: 60px; height: 80px;
                margin-right: 1.5em;
                display: flex; justify-content: center; align-items: center;
                .header__btn-mobile-element {
                    width: 60px; height: 5px;
                    border-radius: 2px;
                    background: $color-bold-main;
                    transition: .2s ease-in-out;
                }
                .header__btn-mobile-element::before,
                .header__btn-mobile-element::after {
                    width: 60px; height: 5px;
                    background: $color-bold-main;
                    border-radius: 2px;
                    content: '';
                    position: absolute;
                    transition: .3s ease-in-out;
                }
                .header__btn-mobile-element::before {
                    transform: translateY(20px);
                }
                .header__btn-mobile-element::after {
                    transform: translateY(-20px);
                }
            }
        }
        .header__nav-mobile-content {
            width: 100%; height: 90%; 
            flex-direction: column; justify-content: space-around; align-items: center;
            a {
                font-size: 42px;
                font-weight: 500;
                width: 100%; height: 100px;
                display: flex; justify-content: center; align-items: center;
                position: relative;
                cursor: pointer;
            }
        }
    }
    .h_m-close {
        height: 80px;
        .header__nav-mobile__button-wrapper {
            .header__nav-mobile__button {
                transform: rotate(0deg);
            }
        }
        .header__nav-mobile-content {
            display: none;
        }
    }
    .h_m-open {
        height: 100%;
        // background-color: rgba(255, 255, 255, 0.6);
        // backdrop-filter: blur(4px);
        background-color: $color-white-main;
        .header__nav-mobile__button-wrapper {
            display: flex; 
            .header__nav-mobile__button {
                .header__btn-mobile-element{
                    background: transparent;
                    box-shadow: none;
                }
                .header__btn-mobile-element::before {
                    transform: rotate(45deg);
                }
                .header__btn-mobile-element::after {
                    transform: rotate(-45deg);
                }
            }
        }
        .header__nav-mobile-content {
            display: flex;
            opacity: 1;
        }
    }
}

@media (max-height: 600px) {
    .header__nav-mobile {
        .header__nav-mobile-content {
            a {
                font-size: 36px;
                height: 50px;
            }
        }
    }
}

@media (max-height: 450px) {
    .header__nav-mobile {
        .header__nav-mobile-content {
            a {
                font-size: 24px;
                height: 36px;
            }
        }
    }
}
